.slider {
  max-width: 598px;
  width: 100%;
  height: 485px;
  margin: 184px auto 0;
  color: #f2f4f7;

  &__content {
    height: 373px;
  }

  &__title {
    font-weight: 300;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  &__button {
    border: 2px solid transparent;
    border-image: linear-gradient(92.82deg, #fc4060 0%, #8061fd 100%);
    border-image-slice: 1;
    cursor: pointer;
    width: 239px;
    height: 53px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(92.82deg, #fc4060 0%, #8061fd 100%);
  }

  &__dots {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 32px;

    width: 240px;
    height: 48px;
    margin: 64px auto 0;
    cursor: pointer;
  }

  &__dot {
    display: block;
    width: 16px;
    height: 16px;
    border: 3px solid grey;
    border-radius: 50%;
  }

  &__dot--active {
    border: 3px solid #ffff;
  }
}

@media screen and (max-width: 640px) {
  .slider {
    margin: 40px auto 0;

    &__title {
      font-size: 42px;
      line-height: 60px;
    }

    &__text {
      margin-bottom: 50px;
    }

    &__dots {
      margin: 0 auto;
    }

    &__input {
      margin: 0;
    }
  }
}
